# Ignore everything
*

# But descend into directories
!*/

# And whitelist certain filetypes
!*.py
!*.yaml
!*.json
!*.md
!*.sh
!Dockerfile

# And certain dotfiles
!.gitignore
!.arclint
!.arcconfig

# But still explicitly ignore generated cruft
*.ipynb_checkpoints/
